
<% @fumans.each do |fuman| %>
  <div class="col-md-6 offset-md-3 col-sm-12">
    <div class="fuman shadow1">
      <div class="row">
        <div class="col-md-8">
          <div class="content">
            <%= fuman.content %>
          </div>
          <div class="name">
            <%= fuman.name %>
          </div>
        </div>
        <div class=" col-md-3 offset-md-1">
          <div class="icon">
          <%@user=User.find_by(id:cookies.signed[:user_id])%>
          <%=link_to fuman_likes_path(fuman_id:fuman.id),method:"post" do%>
            <%if Like.find_by(user_id:@user.id,fuman_id:fuman.id).present?%>
             <i class="far fa-thumbs-up fa-fw faa-wrench my-blue animated-hover"></i><span><%=fuman.like%></span>
            <%else%>
             <i class="far fa-thumbs-up fa-fw faa-wrench animated-hover"></i><span><%=fuman.like%></span>
            <%end%>
          <%end%>
          <%=link_to fuman_dislikes_path(fuman_id:fuman.id),method:"post" do%>
            <%if Dislike.find_by(user_id:@user.id,fuman_id:fuman.id).present?%>
              <i class="far fa-thumbs-down fa-fw faa-wrench my-blue animated-hover"></i><span><%=fuman.dislike%></span>
            <%else%>
              <i class="far fa-thumbs-down fa-fw faa-wrench animated-hover"></i><span><%=fuman.dislike%></span>
            <%end%>
          <%end%>
          <i class="fas fa-reply fa-fw faa-bounce animated-hover my-gray fa-lg"></i>
         </div>
        </div>
        </div>
      </div>
    </div>
<% end %>
