<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12 title">
        Wiino
      </div>
    </div>
      <%= form_for(@fuman, url: fumans_path(@fuman), html: {method: "post"}) do |f| %>
      <div class="col-md-6 offset-md-3 input col-sm-12 ">
        <div class="row">
          <%= f.text_field :name,value:"",placeholder:"Annonymous", class:"col-md-3 offset-md-1",id:"name" %>
          <i class="fas fa-angle-double-right fa-2x fa-fw faa-passing my-white animated col-md-2 offset-md-1"></i>
          <%= f.text_field :to_whom, id:"to_whom",class:"col-md-3 offset-md-1",placeholder:"World",value:"" %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3 input col-sm-12">
          <%= f.text_area :content, id:"text",placeholder:"Your wish & request.",value:"" %>
          <div class="row">
           <%= f.submit "Share", class:"btn btn-primary btn-sm col-md-2 offset-md-5",style:"display:hidden;width:100%;background-color:#0278AE;margin-top:10px;" %>
          </div>
      <% end %>
        <div class="row">
          <div class="dropdown offset-md-9 col-md-3">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%="Sort by"%>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
              <li class="dropdown-header">Sort by</li>
              <li><%=link_to "Latest", index_path(sort_id:0) %></li>
              <li><%=link_to "Popularity", index_path(sort_id:1)%></li>
              <li><%=link_to "Favorite", index_path(sort_id:2)%></li>
            </ul>
            </div>
        </div>
      </div>
      <%= render 'fumans' %>
    </div>
  </div>
</div>
